
> albania-monorepo@1.0.0 supa
> supabase db dump




SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."CarStatus" AS ENUM (
    'available',
    'rented',
    'maintenance',
    'review'
);


ALTER TYPE "public"."CarStatus" OWNER TO "postgres";


CREATE TYPE "public"."CarTransmission" AS ENUM (
    'Automatic',
    'Manual'
);


ALTER TYPE "public"."CarTransmission" OWNER TO "postgres";


CREATE TYPE "public"."Month" AS ENUM (
    'JAN',
    'FEB',
    'MAR',
    'APR',
    'MAY',
    'JUN',
    'JUL',
    'AUG',
    'SEP',
    'OCT',
    'NOV',
    'DEC'
);


ALTER TYPE "public"."Month" OWNER TO "postgres";


CREATE TYPE "public"."carType" AS ENUM (
    'Sedan',
    'SUV',
    'Sports'
);


ALTER TYPE "public"."carType" OWNER TO "postgres";


CREATE TYPE "public"."fuelType" AS ENUM (
    'Petrol',
    'Diesel',
    'Hybrid',
    'Electric'
);


ALTER TYPE "public"."fuelType" OWNER TO "postgres";


CREATE TYPE "public"."userRole" AS ENUM (
    'user',
    'admin'
);


ALTER TYPE "public"."userRole" OWNER TO "postgres";


CREATE TYPE "public"."userStatus" AS ENUM (
    'active',
    'suspended'
);


ALTER TYPE "public"."userStatus" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.users (id, email, role)
  VALUES (new.id, new.email, 'user');
  RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "plpgsql" STABLE SECURITY DEFINER
    AS $$
DECLARE
  user_role TEXT;
BEGIN
  -- Get role from JWT metadata
  user_role := auth.jwt() -> 'user_metadata' ->> 'role';
  
  -- Also check the users table as a fallback
  IF user_role IS NULL OR user_role = '' THEN
    SELECT role INTO user_role FROM public.users WHERE id = auth.uid();
  END IF;
  
  RETURN COALESCE(user_role = 'admin', false);
END;
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_conversation_timestamp"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE chat_conversations
  SET updated_at = NOW(),
      last_message_at = NOW()
  WHERE id = NEW.conversation_id;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_conversation_timestamp"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_property_requests_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_property_requests_updated_at"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."apartment" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "name" "text",
    "location" "text",
    "rating" real,
    "rooms" smallint,
    "price" real,
    "status" "public"."CarStatus",
    "description" "text",
    "amenities" "text"[],
    "lat" real DEFAULT '41.327953'::real,
    "lng" real DEFAULT '19.819025'::real,
    "address" "text",
    "beds" smallint DEFAULT '1'::smallint,
    "kitchens" smallint DEFAULT '1'::smallint,
    "bathrooms" smallint DEFAULT '1'::smallint,
    "livingRooms" smallint DEFAULT '1'::smallint,
    "providerId" "uuid",
    "imageUrls" "text"[] DEFAULT '{https://tjh.com/wp-content/uploads/2023/06/TJH_HERO_TJH-HOME@2x-1-1536x1021.webp}'::"text"[]
);


ALTER TABLE "public"."apartment" OWNER TO "postgres";


COMMENT ON COLUMN "public"."apartment"."beds" IS 'number of beds';



ALTER TABLE "public"."apartment" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."appartment_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."booking" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "createdAt" timestamp with time zone DEFAULT "now"() NOT NULL,
    "propertyId" "text",
    "propertyType" "text",
    "startDate" "date",
    "endDate" "date",
    "pickUpLocation" "text",
    "dropOffLocation" "text",
    "totalPrice" smallint,
    "contactMail" "text",
    "contactPhone" "text",
    "requesterName" "text",
    "status" "text",
    "updatedAt" timestamp with time zone DEFAULT "now"(),
    "userId" "uuid",
    "pickUpTime" time without time zone,
    "dropOffTime" time without time zone,
    "providerId" "uuid",
    "payment_status" "text" DEFAULT 'pending'::"text",
    "payment_intent_id" "text",
    "paid_at" timestamp without time zone,
    "paypal_order_id" "text",
    "stripe_payment_intent_id" "text"
);


ALTER TABLE "public"."booking" OWNER TO "postgres";


COMMENT ON COLUMN "public"."booking"."paypal_order_id" IS 'PayPal order ID for tracking payment orders';



CREATE TABLE IF NOT EXISTS "public"."car" (
    "id" bigint NOT NULL,
    "name" "text",
    "brand" "text",
    "type" "public"."carType",
    "year" smallint,
    "transmission" "public"."CarTransmission",
    "fuelType" "public"."fuelType",
    "seats" smallint,
    "mileage" integer,
    "pricePerDay" bigint,
    "status" "public"."CarStatus" DEFAULT 'available'::"public"."CarStatus",
    "color" "text",
    "plateNumber" "text",
    "image" "text",
    "features" "text"[],
    "pickUpLocation" "text" DEFAULT 'Tirane'::"text",
    "lat" real,
    "lng" real,
    "providerId" "uuid",
    "imageUrls" "text"[] DEFAULT '{""}'::"text"[]
);


ALTER TABLE "public"."car" OWNER TO "postgres";


ALTER TABLE "public"."car" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."car_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."chat_conversations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text",
    "status" "text" DEFAULT 'open'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "last_message_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "chat_conversations_status_check" CHECK (("status" = ANY (ARRAY['open'::"text", 'closed'::"text", 'resolved'::"text"])))
);


ALTER TABLE "public"."chat_conversations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."chat_messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "conversation_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "message" "text" NOT NULL,
    "role" "text" NOT NULL,
    "is_read" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "chat_messages_role_check" CHECK (("role" = ANY (ARRAY['user'::"text", 'admin'::"text"])))
);


ALTER TABLE "public"."chat_messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."destination" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "name" "jsonb" NOT NULL,
    "description" "jsonb" NOT NULL,
    "imageUrls" "text"[],
    "category" "text",
    "lat" real,
    "lng" real
);


ALTER TABLE "public"."destination" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hotel" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "name" "text",
    "location" "text",
    "rating" real,
    "rooms" smallint DEFAULT '0'::smallint,
    "occupancy" smallint DEFAULT '0'::smallint,
    "price" smallint DEFAULT '0'::smallint,
    "status" "text" DEFAULT 'active'::"text",
    "description" "text",
    "amenities" "text"[],
    "contactEmail" "text",
    "contactPhone" "text",
    "address" "text",
    "lat" real,
    "lng" real,
    "wifi" boolean DEFAULT true,
    "parking" boolean DEFAULT true,
    "pool" boolean DEFAULT true,
    "gym" boolean DEFAULT true,
    "spa" boolean DEFAULT true,
    "restaurant" boolean DEFAULT true,
    "bar" boolean DEFAULT true,
    "providerId" "uuid",
    "imageUrls" "text"[]
);


ALTER TABLE "public"."hotel" OWNER TO "postgres";


ALTER TABLE "public"."hotel" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."hotel_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."hotel_images" (
    "id" bigint NOT NULL,
    "hotel_id" bigint,
    "storage_path" "text" NOT NULL,
    "public_url" "text" NOT NULL,
    "created_at" timestamp without time zone DEFAULT "now"(),
    "created_by" "uuid"
);


ALTER TABLE "public"."hotel_images" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."hotel_images_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."hotel_images_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."hotel_images_id_seq" OWNED BY "public"."hotel_images"."id";



CREATE TABLE IF NOT EXISTS "public"."monthly_prices" (
    "id" bigint NOT NULL,
    "property_id" bigint NOT NULL,
    "property_type" "text" NOT NULL,
    "month" "public"."Month" NOT NULL,
    "price_per_day" numeric(10,2) DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "monthly_prices_property_type_check" CHECK (("property_type" = ANY (ARRAY['car'::"text", 'apartment'::"text", 'hotel'::"text"])))
);


ALTER TABLE "public"."monthly_prices" OWNER TO "postgres";


COMMENT ON TABLE "public"."monthly_prices" IS 'Stores dynamic monthly pricing for rentals. Each property (car, apartment, hotel) can have different prices for different months.';



ALTER TABLE "public"."monthly_prices" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."monthly_prices_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."payment_transactions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "booking_id" "uuid" NOT NULL,
    "paypal_order_id" "text" NOT NULL,
    "paypal_capture_id" "text",
    "amount" numeric(10,2) NOT NULL,
    "currency" "text" DEFAULT 'USD'::"text" NOT NULL,
    "status" "text" NOT NULL,
    "webhook_event_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "stripe_payment_intent_id" "text",
    "stripe_charge_id" "text",
    "payment_provider" "text" DEFAULT 'paypal'::"text",
    CONSTRAINT "payment_transactions_payment_provider_check" CHECK (("payment_provider" = ANY (ARRAY['paypal'::"text", 'stripe'::"text"]))),
    CONSTRAINT "payment_transactions_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'completed'::"text", 'denied'::"text", 'refunded'::"text", 'requires_payment_method'::"text", 'requires_confirmation'::"text", 'requires_action'::"text", 'processing'::"text", 'canceled'::"text"])))
);


ALTER TABLE "public"."payment_transactions" OWNER TO "postgres";


COMMENT ON TABLE "public"."payment_transactions" IS 'Tracks PayPal payment transactions for idempotency and audit purposes';



COMMENT ON COLUMN "public"."payment_transactions"."stripe_payment_intent_id" IS 'Stripe PaymentIntent ID for Stripe payments';



COMMENT ON COLUMN "public"."payment_transactions"."stripe_charge_id" IS 'Stripe Charge ID after successful payment';



COMMENT ON COLUMN "public"."payment_transactions"."payment_provider" IS 'Payment provider used: paypal or stripe';



CREATE TABLE IF NOT EXISTS "public"."property_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "provider_id" "uuid" NOT NULL,
    "property_id" "text" NOT NULL,
    "property_type" "text" NOT NULL,
    "reason" "text",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "submitted_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "reviewed_at" timestamp with time zone,
    "reviewer_id" "uuid",
    "rejection_reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "property_requests_property_type_check" CHECK (("property_type" = ANY (ARRAY['car'::"text", 'apartment'::"text", 'hotel'::"text"]))),
    CONSTRAINT "property_requests_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'approved'::"text", 'rejected'::"text"])))
);


ALTER TABLE "public"."property_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."role_requests" (
    "id" bigint NOT NULL,
    "roleRequested" "text" DEFAULT 'provider'::"text",
    "reason" "text",
    "status" "text" DEFAULT 'pending'::"text",
    "submittedAt" timestamp with time zone DEFAULT "now"() NOT NULL,
    "reviewed_at" timestamp with time zone,
    "user_id" "uuid" NOT NULL,
    "reviewer_id" "uuid"
);


ALTER TABLE "public"."role_requests" OWNER TO "postgres";


ALTER TABLE "public"."role_requests" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."request_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."review" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "comment" "text",
    "rating" real,
    "user" "uuid"
);


ALTER TABLE "public"."review" OWNER TO "postgres";


ALTER TABLE "public"."review" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."review_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."reviews" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "booking_id" "uuid" NOT NULL,
    "property_id" integer NOT NULL,
    "property_type" "text" NOT NULL,
    "rating" integer NOT NULL,
    "comment" "text" NOT NULL,
    "reviewer_name" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "reviews_property_type_check" CHECK (("property_type" = ANY (ARRAY['car'::"text", 'apartment'::"text"]))),
    CONSTRAINT "reviews_rating_check" CHECK ((("rating" >= 1) AND ("rating" <= 5)))
);


ALTER TABLE "public"."reviews" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text",
    "avatar_url" "text",
    "phone" "text",
    "bio" "text",
    "location" "text",
    "role" "text" DEFAULT 'user'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "status" "public"."userStatus" DEFAULT 'active'::"public"."userStatus",
    CONSTRAINT "users_role_check" CHECK (("role" = ANY (ARRAY['user'::"text", 'admin'::"text", 'provider'::"text"])))
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."wishlist" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."wishlist" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."wishlist_destinations" (
    "wishlist_id" "uuid" NOT NULL,
    "destination_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."wishlist_destinations" OWNER TO "postgres";


ALTER TABLE ONLY "public"."hotel_images" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."hotel_images_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."apartment"
    ADD CONSTRAINT "appartment_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."booking"
    ADD CONSTRAINT "booking_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."car"
    ADD CONSTRAINT "car_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."chat_conversations"
    ADD CONSTRAINT "chat_conversations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."chat_messages"
    ADD CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."destination"
    ADD CONSTRAINT "destination_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hotel_images"
    ADD CONSTRAINT "hotel_images_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hotel"
    ADD CONSTRAINT "hotel_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."monthly_prices"
    ADD CONSTRAINT "monthly_prices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."monthly_prices"
    ADD CONSTRAINT "monthly_prices_property_id_property_type_month_key" UNIQUE ("property_id", "property_type", "month");



ALTER TABLE ONLY "public"."payment_transactions"
    ADD CONSTRAINT "payment_transactions_paypal_capture_id_key" UNIQUE ("paypal_capture_id");



ALTER TABLE ONLY "public"."payment_transactions"
    ADD CONSTRAINT "payment_transactions_paypal_order_id_key" UNIQUE ("paypal_order_id");



ALTER TABLE ONLY "public"."payment_transactions"
    ADD CONSTRAINT "payment_transactions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payment_transactions"
    ADD CONSTRAINT "payment_transactions_stripe_charge_id_key" UNIQUE ("stripe_charge_id");



ALTER TABLE ONLY "public"."payment_transactions"
    ADD CONSTRAINT "payment_transactions_stripe_payment_intent_id_key" UNIQUE ("stripe_payment_intent_id");



ALTER TABLE ONLY "public"."property_requests"
    ADD CONSTRAINT "property_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."role_requests"
    ADD CONSTRAINT "request_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."review"
    ADD CONSTRAINT "review_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_booking_id_key" UNIQUE ("booking_id");



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wishlist_destinations"
    ADD CONSTRAINT "wishlist_destinations_pkey" PRIMARY KEY ("wishlist_id", "destination_id");



ALTER TABLE ONLY "public"."wishlist"
    ADD CONSTRAINT "wishlist_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wishlist"
    ADD CONSTRAINT "wishlist_user_id_key" UNIQUE ("user_id");



CREATE INDEX "idx_booking_paypal_order_id" ON "public"."booking" USING "btree" ("paypal_order_id");



CREATE INDEX "idx_chat_conversations_status" ON "public"."chat_conversations" USING "btree" ("status");



CREATE INDEX "idx_chat_conversations_updated_at" ON "public"."chat_conversations" USING "btree" ("updated_at" DESC);



CREATE INDEX "idx_chat_conversations_user_id" ON "public"."chat_conversations" USING "btree" ("user_id");



CREATE INDEX "idx_chat_messages_conversation_id" ON "public"."chat_messages" USING "btree" ("conversation_id");



CREATE INDEX "idx_chat_messages_created_at" ON "public"."chat_messages" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_chat_messages_is_read" ON "public"."chat_messages" USING "btree" ("is_read");



CREATE INDEX "idx_monthly_prices_month" ON "public"."monthly_prices" USING "btree" ("month");



CREATE INDEX "idx_monthly_prices_property" ON "public"."monthly_prices" USING "btree" ("property_id", "property_type");



CREATE INDEX "idx_payment_transactions_booking_id" ON "public"."payment_transactions" USING "btree" ("booking_id");



CREATE INDEX "idx_payment_transactions_paypal_order_id" ON "public"."payment_transactions" USING "btree" ("paypal_order_id");



CREATE INDEX "idx_property_requests_property_type" ON "public"."property_requests" USING "btree" ("property_type");



CREATE INDEX "idx_property_requests_provider_id" ON "public"."property_requests" USING "btree" ("provider_id");



CREATE INDEX "idx_property_requests_status" ON "public"."property_requests" USING "btree" ("status");



CREATE INDEX "idx_reviews_booking" ON "public"."reviews" USING "btree" ("booking_id");



CREATE INDEX "idx_reviews_property" ON "public"."reviews" USING "btree" ("property_id", "property_type");



CREATE INDEX "idx_reviews_user" ON "public"."reviews" USING "btree" ("user_id");



CREATE INDEX "idx_users_email" ON "public"."users" USING "btree" ("email");



CREATE INDEX "idx_wishlist_destinations_destination_id" ON "public"."wishlist_destinations" USING "btree" ("destination_id");



CREATE INDEX "idx_wishlist_user_id" ON "public"."wishlist" USING "btree" ("user_id");



CREATE OR REPLACE TRIGGER "property_requests_updated_at" BEFORE UPDATE ON "public"."property_requests" FOR EACH ROW EXECUTE FUNCTION "public"."update_property_requests_updated_at"();



CREATE OR REPLACE TRIGGER "update_conversation_on_message" AFTER INSERT ON "public"."chat_messages" FOR EACH ROW EXECUTE FUNCTION "public"."update_conversation_timestamp"();



ALTER TABLE ONLY "public"."apartment"
    ADD CONSTRAINT "appartment_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."booking"
    ADD CONSTRAINT "booking_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."booking"
    ADD CONSTRAINT "booking_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."car"
    ADD CONSTRAINT "car_owner_fkey" FOREIGN KEY ("providerId") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."car"
    ADD CONSTRAINT "car_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."chat_conversations"
    ADD CONSTRAINT "chat_conversations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."chat_messages"
    ADD CONSTRAINT "chat_messages_conversation_id_fkey" FOREIGN KEY ("conversation_id") REFERENCES "public"."chat_conversations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."chat_messages"
    ADD CONSTRAINT "chat_messages_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hotel_images"
    ADD CONSTRAINT "hotel_images_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."hotel_images"
    ADD CONSTRAINT "hotel_images_hotel_id_fkey" FOREIGN KEY ("hotel_id") REFERENCES "public"."hotel"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hotel"
    ADD CONSTRAINT "hotel_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."payment_transactions"
    ADD CONSTRAINT "payment_transactions_booking_id_fkey" FOREIGN KEY ("booking_id") REFERENCES "public"."booking"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."property_requests"
    ADD CONSTRAINT "property_requests_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."property_requests"
    ADD CONSTRAINT "property_requests_reviewer_id_fkey" FOREIGN KEY ("reviewer_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."role_requests"
    ADD CONSTRAINT "requests_reviewer_id_fkey" FOREIGN KEY ("reviewer_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."role_requests"
    ADD CONSTRAINT "requests_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."review"
    ADD CONSTRAINT "review_user_fkey" FOREIGN KEY ("user") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_booking_id_fkey" FOREIGN KEY ("booking_id") REFERENCES "public"."booking"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reviews"
    ADD CONSTRAINT "reviews_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."wishlist_destinations"
    ADD CONSTRAINT "wishlist_destinations_destination_id_fkey" FOREIGN KEY ("destination_id") REFERENCES "public"."destination"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."wishlist_destinations"
    ADD CONSTRAINT "wishlist_destinations_wishlist_id_fkey" FOREIGN KEY ("wishlist_id") REFERENCES "public"."wishlist"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."wishlist"
    ADD CONSTRAINT "wishlist_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admins can insert messages" ON "public"."chat_messages" FOR INSERT WITH CHECK (("public"."is_admin"() AND ("auth"."uid"() = "user_id")));



CREATE POLICY "Admins can update all conversations" ON "public"."chat_conversations" FOR UPDATE USING ("public"."is_admin"());



CREATE POLICY "Admins can update all messages" ON "public"."chat_messages" FOR UPDATE USING ("public"."is_admin"());



CREATE POLICY "Admins can update any profile" ON "public"."users" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."users" "users_1"
  WHERE (("users_1"."id" = "auth"."uid"()) AND ("users_1"."role" = 'admin'::"text"))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."users" "users_1"
  WHERE (("users_1"."id" = "auth"."uid"()) AND ("users_1"."role" = 'admin'::"text")))));



CREATE POLICY "Admins can update property requests" ON "public"."property_requests" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = 'admin'::"text")))));



CREATE POLICY "Admins can view all conversations" ON "public"."chat_conversations" FOR SELECT USING ("public"."is_admin"());



CREATE POLICY "Admins can view all messages" ON "public"."chat_messages" FOR SELECT USING ("public"."is_admin"());



CREATE POLICY "Admins can view all property requests" ON "public"."property_requests" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = 'admin'::"text")))));



CREATE POLICY "Allow authenticated users to insert images" ON "public"."hotel_images" FOR INSERT WITH CHECK (("auth"."uid"() = "created_by"));



CREATE POLICY "Allow public to view hotel images" ON "public"."hotel_images" FOR SELECT USING (true);



CREATE POLICY "Allow users to delete own images" ON "public"."hotel_images" FOR DELETE USING (("auth"."uid"() = "created_by"));



CREATE POLICY "Allow users to update own images" ON "public"."hotel_images" FOR UPDATE USING (("auth"."uid"() = "created_by"));



CREATE POLICY "Authenticated users can read users table" ON "public"."users" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable insert for all users only" ON "public"."hotel" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable read access for all users" ON "public"."hotel" FOR SELECT USING (true);



CREATE POLICY "Providers can create property requests" ON "public"."property_requests" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "provider_id"));



CREATE POLICY "Providers can view their own property requests" ON "public"."property_requests" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "provider_id"));



CREATE POLICY "Users can create own conversations" ON "public"."chat_conversations" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert own messages" ON "public"."chat_messages" FOR INSERT WITH CHECK ((("auth"."uid"() = "user_id") AND (EXISTS ( SELECT 1
   FROM "public"."chat_conversations"
  WHERE (("chat_conversations"."id" = "chat_messages"."conversation_id") AND ("chat_conversations"."user_id" = "auth"."uid"()))))));



CREATE POLICY "Users can read all profiles" ON "public"."users" FOR SELECT USING (true);



CREATE POLICY "Users can update own conversations" ON "public"."chat_conversations" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own messages" ON "public"."chat_messages" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."chat_conversations"
  WHERE (("chat_conversations"."id" = "chat_messages"."conversation_id") AND ("chat_conversations"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can update own profile" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can view own conversations" ON "public"."chat_conversations" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own messages" ON "public"."chat_messages" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."chat_conversations"
  WHERE (("chat_conversations"."id" = "chat_messages"."conversation_id") AND ("chat_conversations"."user_id" = "auth"."uid"())))));



ALTER TABLE "public"."chat_conversations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."chat_messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."hotel_images" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."property_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."reviews" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "reviews_delete_own" ON "public"."reviews" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "reviews_insert_own" ON "public"."reviews" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "reviews_select_public" ON "public"."reviews" FOR SELECT USING (true);



CREATE POLICY "reviews_update_own" ON "public"."reviews" FOR UPDATE USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."chat_conversations";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."chat_messages";



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

























































































































































GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_conversation_timestamp"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_conversation_timestamp"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_conversation_timestamp"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_property_requests_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_property_requests_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_property_requests_updated_at"() TO "service_role";


















GRANT ALL ON TABLE "public"."apartment" TO "anon";
GRANT ALL ON TABLE "public"."apartment" TO "authenticated";
GRANT ALL ON TABLE "public"."apartment" TO "service_role";



GRANT ALL ON SEQUENCE "public"."appartment_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."appartment_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."appartment_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."booking" TO "anon";
GRANT ALL ON TABLE "public"."booking" TO "authenticated";
GRANT ALL ON TABLE "public"."booking" TO "service_role";



GRANT ALL ON TABLE "public"."car" TO "anon";
GRANT ALL ON TABLE "public"."car" TO "authenticated";
GRANT ALL ON TABLE "public"."car" TO "service_role";



GRANT ALL ON SEQUENCE "public"."car_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."car_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."car_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."chat_conversations" TO "anon";
GRANT ALL ON TABLE "public"."chat_conversations" TO "authenticated";
GRANT ALL ON TABLE "public"."chat_conversations" TO "service_role";



GRANT ALL ON TABLE "public"."chat_messages" TO "anon";
GRANT ALL ON TABLE "public"."chat_messages" TO "authenticated";
GRANT ALL ON TABLE "public"."chat_messages" TO "service_role";



GRANT ALL ON TABLE "public"."destination" TO "anon";
GRANT ALL ON TABLE "public"."destination" TO "authenticated";
GRANT ALL ON TABLE "public"."destination" TO "service_role";



GRANT ALL ON TABLE "public"."hotel" TO "anon";
GRANT ALL ON TABLE "public"."hotel" TO "authenticated";
GRANT ALL ON TABLE "public"."hotel" TO "service_role";



GRANT ALL ON SEQUENCE "public"."hotel_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."hotel_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."hotel_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."hotel_images" TO "anon";
GRANT ALL ON TABLE "public"."hotel_images" TO "authenticated";
GRANT ALL ON TABLE "public"."hotel_images" TO "service_role";



GRANT ALL ON SEQUENCE "public"."hotel_images_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."hotel_images_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."hotel_images_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."monthly_prices" TO "anon";
GRANT ALL ON TABLE "public"."monthly_prices" TO "authenticated";
GRANT ALL ON TABLE "public"."monthly_prices" TO "service_role";



GRANT ALL ON SEQUENCE "public"."monthly_prices_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."monthly_prices_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."monthly_prices_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."payment_transactions" TO "anon";
GRANT ALL ON TABLE "public"."payment_transactions" TO "authenticated";
GRANT ALL ON TABLE "public"."payment_transactions" TO "service_role";



GRANT ALL ON TABLE "public"."property_requests" TO "anon";
GRANT ALL ON TABLE "public"."property_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."property_requests" TO "service_role";



GRANT ALL ON TABLE "public"."role_requests" TO "anon";
GRANT ALL ON TABLE "public"."role_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."role_requests" TO "service_role";



GRANT ALL ON SEQUENCE "public"."request_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."request_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."request_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."review" TO "anon";
GRANT ALL ON TABLE "public"."review" TO "authenticated";
GRANT ALL ON TABLE "public"."review" TO "service_role";



GRANT ALL ON SEQUENCE "public"."review_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."review_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."review_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."reviews" TO "anon";
GRANT ALL ON TABLE "public"."reviews" TO "authenticated";
GRANT ALL ON TABLE "public"."reviews" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."wishlist" TO "anon";
GRANT ALL ON TABLE "public"."wishlist" TO "authenticated";
GRANT ALL ON TABLE "public"."wishlist" TO "service_role";



GRANT ALL ON TABLE "public"."wishlist_destinations" TO "anon";
GRANT ALL ON TABLE "public"."wishlist_destinations" TO "authenticated";
GRANT ALL ON TABLE "public"."wishlist_destinations" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































